{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>  
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '일반', true) }}
    {{ macros.m_tab_head_end() }}
  </nav> 
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_global_scheduler_button(arg['scheduler'], arg['is_running']) }}
      {{ macros.setting_input_int('interval', '스케쥴링 실행 주기', value=arg['interval'], min='1', placeholder='10', desc='minute 단위, 스케쥴러에 의해 동작하는 경우 최근동작 이후 추가된 데이터만 검사함') }}
      {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
      {{ macros.setting_input_text('proc_path', '파일처리 대상경로', value=arg['proc_path'], desc=['SJVA의 영화파일 처리 후 경로.','1회 실행후 경로안의 모든 파일과 폴더는 이동하여 비워집니다.']) }}
      {{ macros.setting_input_text('post_path', '분류하여 이동할 경로', value=arg['post_path'], desc=['영화분류 후  이동경로']) }}
      {{ macros.setting_checkbox('fname_first', '처리우선순위', value=arg['fname_first'], desc=['On : 파일명 처리 후 영화정보 처리.', 'Off : 영화정보 기반 처리 후 파일명 처리']) }}
      {{ macros.setting_input_textarea('fname_rules', '파일명 처리 기준', desc=['형식: 조건, 이동폴더명', '조건내구분자(|), 여러조건 입력시 구분자는 Enter'], value=arg['fname_rules'], row='8') }}
      {{ macros.setting_input_textarea('minfo_rules', '영화정보 처리 기준', desc=['형식: 조건, 이동폴더명', '조건내구분자 (|), 여러조건 입력시 구분자 Enter'], value=arg['minfo_rules'], row='8') }}
      {{ macros.setting_button_with_info([['fname_sample', '파일명 샘플'], ['minfo_sample', '영화정보샘플'], ['test_btn', '테스트실행']], left='처리기준샘플보기', desc=['각 처리 기준 설정의 샘플을 보여줍니다.', '테스트실행시 실제 파일을 이동시키지 않음'])}}
      {{ macros.setting_button([['global_reset_db_btn', '목록 초기화']], left='DB정리' ) }}
      {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행', desc='1회실행시 파일이동됨, 시간검사하지않음') }}
    {{ macros.m_tab_content_end() }}
  </div><!--tab-content-->
</form>
</div><!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var current_data = null;

$(document).ready(function(){
});

$("body").on('click', '#minfo_sample', function(e) {
	// temporary
	var url = "https://github.com/byorial/movie_classfier#%ED%94%8C%EB%9F%AC%EA%B7%B8%EC%9D%B8%EC%9A%A9-%EC%84%A4%EC%A0%95-%EC%83%98%ED%94%8C---%EC%98%81%ED%99%94%EC%A0%95%EB%B3%B4-%EA%B8%B0%EB%B0%98";
	window.open(url, "_blank");
});

$("body").on('click', '#fname_sample', function(e) {
	// temporary
	var url = "https://github.com/byorial/movie_classfier#%ED%8C%8C%EC%9D%BC%EB%AA%85-%EA%B8%B0%EB%B0%98-%EC%98%81%ED%99%94-%EB%B6%84%EB%A5%98-%EC%98%88%EC%8B%9C";
	window.open(url, "_blank");
});

$("body").on('click', '#test_btn', function(e) {
	e.preventDefault();
	func_test();
});

function func_test() {
	$.ajax({
		url: '/' + package_name + '/ajax/test',
		type: "POST",
		cache: false,
		success: function (ret) {
			m_modal(ret)
		}
	});
}

</script>    
{% endblock %}
